<!-- app/views/certificate_generator/view_certificates.html.erb -->

<h1>View Certificates</h1>

<h2>CA Certificate:</h2>
<pre><%= @ca_cert_content %></pre>

<h2>Server Certificate:</h2>
<pre><%= @server_cert_content %></pre>